$white: rgb(255, 255, 255);
$grey-100: darken($white, 10);
$grey-200: darken($white, 20);
$grey-300: darken($white, 30);
$grey-400: darken($white, 40);
$grey-500: darken($white, 50);
$grey-600: darken($white, 60);
$grey-700: darken($white, 70);
$grey-800: darken($white, 80);
$grey-900: darken($white, 90);
$black: rgb(0, 0, 0);